@charset "utf-8";
/* CSS Document */

#page_header{
    text-align:center;
    margin:auto;
    display:block;
    width:100%;
    height:auto;
    border:thin solid black;
    padding-bottom:2px;
}

#aside{
	display: inline-block;
	height:70%;
	width:30%;
	
}
#section{
	display: inline-block;
	height: 70%;
	width: 50%;
}
#content_header{
	text-align:center;
}
#content_body{
	visibility: visible;
}


#fullPage{
	
	width:99%;
	height:99%;
}
#page_content section{
	margin: auto;
	display: block;
	width:100%;
	height:200px;
	color:black;
	
	
	
}


	
