@charset "utf-8";
/* CSS Document */

#page_header{
	align-content:center;
	text-align:center;
	}
#navbar{
	background-color:black;
	}
#navbar a{
	color:white;
	text-decoration:none;
}
#sidebar{
	align-content: left;
    display: inline-block;
    float: left;
    width: 15%;
    height: auto;
}
.page_text{
	align-content:center;
	text-align:center;
	color:blue;
	
}
#webpage{
	background-color:aqua;
	
}
#page_footer{
	border: thin solid black;
	align-content:center;
	text-align:center;
	}
#home{ 
	text-decoration:none;
	color:black;
	}